<div class="container">
    <h1>Equilibrio e Correção de Solo</h1>
    <div class="container">
        <label>Produto</label>
        <input type="text" class="col-4" [formTarget]="dadosGerais.produto" />

        <label>Data</label>
        <input type="date" class="col-4"/>
    </div>

    <div>
        <label>Município</label>
        <input type="text" />

        <label>Lote</label>
        <input type="text" />

        <label>Área Total (ha)</label>
        <input type="number" />
    </div>

    <div>
        <label>Talhão</label>
        <input type="number" />

        <label>Área do talhão (ha)</label>
        <input type="number" />

        <label>Matrícula do Lote</label>
        <input type="number" />
    </div>

    <div>
        <label>Textura de Solo</label>
        <input id="textSolo" type="number" />

        <span>{{ dadosGerais.tipo() }} </span>

        <label>Sistema de Cultivo:</label>
        <input type="number" />
        <span> {{ dadosGerais.cultiveSystem() }} </span>
    </div>

    <div>
        <label>Responsável Técnico</label>
        <input type="text" />

        <label>Profundidade da amostra de solos:</label>
        <input type="text" />
        <span>cm</span>
    </div>

    <div>
        <label>Resultado da análise de solos nº</label>
        <input type="number" />
    </div>
</div>