<div class="row">
    
    <div class="col-4">
        <h2>Correção/Recuperação de Fósforo</h2>
        <label>Teor de Fósforo a atingir</label>
        <input type="text" /> <span>mg.dm³</span>

        <p>Essa correção de FÓSFORO, fornecerá também(kg/ha): {{fosforo.kgha}}</p>

        <label>Fonte de Fósforo</label>
        <input type="text" />

        <p>Quantidade a aplicar: {{fosforo.qtdAplicar}} kg/hectare</p>

        <p>Custo - R$/ha {{fosforo.custoHa}} </p>

        <label><strong>Eficiência do Fósforo</strong></label>
        <input type="number" /><span>%</span>

        <p>OBS: Sugerimos uma eficiência entre 70% e 90%</p>
    </div>

    <div class="col-4">
        <h2>Fontes de FÓSFORO</h2>
        <ul>
            <li *ngFor="let ff of FontesFosforo">
                <label><strong>{{ ff.name }}</strong></label>
                <span> R$ </span><input type="number" value="{{ff.value}}" /><span> /Ton.</span>
            </li>
        </ul>
    </div>

</div>