<div class="container">
    <div class="row">

        <div class="col-4">
            <h2 class="text-center">Correção/Recuperação de Potássio</h2>

            <div class="form-group">
                <label for="partPotassioAtual">Participação atual do POTÁSSIO na CTC do solo (%):</label>
                <input id="partPotassioAtual" class="form-control" type="number" />
    
                <label for="partPotassioDesejada">Participação do POTÁSSIO na CTC, desejada (%):</label>
                <input id="partPotassioDesejada" class="form-control" type="number" />
    
                <label for="partPotassioApos">Participação do POTÁSSIO na CTC, após correção (%):</label>
                <input id="partPotassioApos" class="form-control" type="number" />
    
                <label for="partPotassioAtual">Participação atual do POTÁSSIO na CTC (%):</label>
                <input id="partPotassioAtual" class="form-control" type="number" />
    
                <label for="fontePotassioUsar">Fonte de Potássio a usar:</label>
                <select class="form-control" id="fontePotassioUsar">
                    <option *ngFor="let fp of FontesPotassio">{{fp.name}}</option>
                </select>
            </div>

            <div>
                <h3 class="text-center">Resultados</h3>

                <p>Quantidade a aplicar: {{potassio.qtdAplicar()}} kg/hectare</p>
                <p>Custo - R$/ha {{potassio.custoHectar()}} </p>
            </div>

        </div>

        <div class="col-4">
            <h2 class="text-center">Fontes de POTÁSSIO</h2>
            <div class="form-group">
                <div class="form-floating" *ngFor="let fp of FontesPotassio">
                    <input id="{{fp.id}}" class="form-control" type="number" value="{{fp.value}}" />
                    <label for="{{fp.id}}">{{ fp.name }} - R$/Ton.</label>
                </div>
            </div>
        </div>

    </div>
</div>