<div class="container">
    <div class="row">

        <div class="col-4">
            <h2 class="text-center">Correção/Recuperação de Potássio</h2>

            <div class="form-group">
                <label for="partPotassioAtual">Participação atual do POTÁSSIO na CTC do solo (%):</label>
                <input id="partPotassioAtual" class="form-control" type="number" />
    
                <label for="partPotassioDesejada">Participação do POTÁSSIO na CTC, desejada (%):</label>
                <input id="partPotassioDesejada" class="form-control" type="number" />
    
                <label for="partPotassioApos">Participação do POTÁSSIO na CTC, após correção (%):</label>
                <input id="partPotassioApos" class="form-control" type="number" />
    
                <label for="partPotassioAtual">Participação atual do POTÁSSIO na CTC (%):</label>
                <input id="partPotassioAtual" class="form-control" type="number" />
    
                <label for="fontePotassioUsar">Fonte de Potássio a usar:</label>
                <select class="form-control" id="fontePotassioUsar">
                    <option *ngFor="let fp of FontePotassio | keyvalue">{{fp.value}}</option>
                </select>
            </div>

            <div>
                <h3 class="text-center">Resultados</h3>

                <button class="btn btn-primary" (click)="CalculaResultado()">Calcular Resultados</button>

                <p>Quantidade a aplicar: {{resultadoPotassio.qtdAplicar}} kg/hectare</p>
                <p>Custo - R$/ha {{resultadoPotassio.custoHa}} </p>
            </div>

        </div>

        <div class="col-3">
            <h2 class="text-center">Fontes de Potássio</h2>
            <div class="form-group">
                <div class="form-floating" *ngFor="let ff of FontePotassio | keyvalue">
                    <input id="{{ff.key}}" class="form-control" type="number" value="{{ff.value}}" />
                    <label for="{{ff.key}}">{{ ff.value }} - R$/Ton.</label>
                </div>
            </div>
        </div>

    </div>
</div>